<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ge.ufc" level="DEBUG" additivity = "false">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>